div{
    background-color: rgb(47, 118, 99);
}

.quiz-container {
    font-family: "Didot";
    h3 {
        font-size: 36px;
    }
    .centered {
        text-align: center;
    }
    .questions{
        margin-top:75px;
	    font-size: 32px;
    }
    .symbol {
        font-size: 125px;
        border: 1px solid #6D98BA;
        width: 150px;
        height: 150px;
        display: inline-block;
        margin-top: 25px;
        background-color: antiquewhite;
        font-family: "Helvetica Neue";
    }
    

}

